52n-ogc-schema/src/main/resources/META-INF/xml/wps/2.0/wpsDeployResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    OGC LICENSE HEADER

    The official OGC XML schemas can be accessed under http://schemas.opengis.net.
    Please consider the schema copyright notices: http://www.opengeospatial.org/ogc/document
    and the OGC Copyright Notice and Disclaimers: http://www.opengeospatial.org/ogc/legal
    If there are any questions left there is also a copyright FAQ: http://www.opengeospatial.org/ogc/legalfaq
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ows="http://www.opengis.net/ows/2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:wps="http://www.opengis.net/wps/2.0" targetNamespace="http://www.opengis.net/wps/2.0"
	xml:lang="en" version="2.0.0">
	<include schemaLocation="wps.xsd"/>
	<import namespace="http://www.opengis.net/ows/2.0" schemaLocation="http://schemas.opengis.net/ows/2.0/owsAll.xsd"/>
	<element name="DeployResult" type="wps:DeployResultType">
		<annotation>
			<documentation>DeployProcess result.</documentation>
		</annotation>
	</element>
	<complexType name="DeployResultType">
		<sequence>
			<element name="DeploymentDone" type="boolean" />
			<choice>
				<element name="ProcessSummary" type="wps:ProcessSummaryType"
					minOccurs="0">
					<annotation>
						<documentation>If DeploymentDone = true</documentation>
					</annotation>
				</element>
				<element name="FailureReason" type="xs:string">
					<annotation>
						<documentation>If DeploymentDone = false</documentation>
					</annotation>
				</element>
			</choice>
		</sequence>
	</complexType>
</schema>